/* body {
    margin: 0;
    padding: 0;
} */
/* img {
	min-width: 90%;
	opacity: 0.4;
}
img:hover {
	opacity: 1;
} */
.child-service {
	text-align: center;
	color: #fff;
	width: 300px;
	margin: 25px auto;
	position: relative;
	overflow: hidden;
}
.child-service img {
	width: 100%;
	display: block;
	max-width: 100%;
	transition: 0.3s;
}
.child-service:hover img {
	transform: scale(1.2);
}
.inner-service {
	padding: 10% 5%;
	position: absolute;
	width: 90%;
	height: 87%;
	top: -500px;
	left: 0;
	z-index: 99;
	transition: 0.9s;
}
.inner-service::after {
	background: #1b1464;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: -1;
}

.child-service h2 {
	margin-top: 50px;
	font-family: "Courier New", Courier, monospace;
	font-size: 35px;
	margin-bottom: 0;
}
.child-service p {
	margin-top: 30px;
}
.child-service a {
	display: inline-block;
	margin-top: 110px;
	background: #f79f1f;
	color: #fff;
	font-size: 17px;
	padding: 10px 50px;
	border-radius: 50px;
	text-decoration: none;
}
.child-service:hover .inner-service {
	display: block;
	top: 0;
}
